html, body { height: 100%; }
body       { margin: 0; overflow: hidden; }
#container { position: relative; height: 100%; }
canvas     { position: absolute; width: 100%; height: 100%; }
#messages  { position: absolute; width: 100%; height: 100%; padding-left: 10px; }
