html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

body {
  background: #000;
  font: 30px sans-serif;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
}
