html,
body {
  margin: 0;
  height: 100%;
  z-index: 1;
}

#rotateToggleDiv {
  background: #fff;
  padding: 10px;
}

#loadingOverlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

#loadingImg {
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 100;
}
