html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

body {
  background: #000;
  font: 30px sans-serif;
}

#container {
    position: absolute;
    top: 0px;
    width:100%;
    height:100%;
    z-index: -1;
}

html, body{
  width: 100%;
  height: 100%;
}

#loading{
  position: absolute;
  left: 50%;
  top:50%;
  width: 300px;
  height: 300px;
  font-size: 24px;
  margin-left: -150px;
  margin-top: -150px;
  line-height: 300px;
  text-align: center;
  color:white;
}
